In [24]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Iris.csv")
df.columns = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [25]:
setosa = df[df['Species'] == 'Iris-setosa']
versicolor = df[df['Species'] == 'Iris-versicolor']

In [26]:
print("Photo subset:", setosa.shape)
print("versicolor subset:", versicolor.shape)

setosa subset: (49, 5)
versicolor subset: (50, 5)

In [ ]:
merged_df = pd.concat([setosa, versicolor], ignore_index=True)

In [27]:
print("Merged subset:",  merged_df.shape)

Merged subset: (99, 5)

In [29]:
sorted_df = df.sort_values(by='PetalLengthCm')
print("\nTop 6 by likes:\n", sorted_df[['PetalLengthCm','Species']].head(6))

Top 6 by likes:
     PetalLengthCm      Species
21            1.0  Iris-setosa
12            1.1  Iris-setosa
34            1.2  Iris-setosa
13            1.2  Iris-setosa
37            1.3  Iris-setosa
1             1.3  Iris-setosa

In [39]:
transposed_df = df.T
print("\nFirst 5 rows transposed:\n", transposed_df)

First 5 rows transposed:
                        0            1            2            3    \
SepalLengthCm          4.9          4.7          4.6          5.0
SepalWidthCm           3.0          3.2          3.1          3.6
PetalLengthCm          1.4          1.3          1.5          1.4
PetalWidthCm           0.2          0.2          0.2          0.2
Species        Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa

                       4            5            6            7    \
SepalLengthCm          5.4          4.6          5.0          4.4
SepalWidthCm           3.9          3.4          3.4          2.9
PetalLengthCm          1.7          1.4          1.5          1.4
PetalWidthCm           0.4          0.3          0.2          0.2
Species        Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa

                       8            9    ...             139             140  \
SepalLengthCm          4.9          5.4  ...             6.7             6.9
SepalWidthCm           3.1          3.7  ...             3.1             3.1
PetalLengthCm          1.5          1.5  ...             5.6             5.1
PetalWidthCm           0.1          0.2  ...             2.4             2.3
Species        Iris-setosa  Iris-setosa  ...  Iris-virginica  Iris-virginica

                          141             142             143             144  \
SepalLengthCm             5.8             6.8             6.7             6.7
SepalWidthCm              2.7             3.2             3.3             3.0
PetalLengthCm             5.1             5.9             5.7             5.2
PetalWidthCm              1.9             2.3             2.5             2.3
Species        Iris-virginica  Iris-virginica  Iris-virginica  Iris-virginica

                          145             146             147             148
SepalLengthCm             6.3             6.5             6.2             5.9
SepalWidthCm              2.5             3.0             3.4             3.0
PetalLengthCm             5.0             5.2             5.4             5.1
PetalWidthCm              1.9             2.0             2.3             1.8
Species        Iris-virginica  Iris-virginica  Iris-virginica  Iris-virginica

[5 rows x 149 columns]

In [33]:
df_melted = pd.melt(df, id_vars=['PetalLengthCm','Species'])
print("\nMelted sample:\n", df_melted.head())

Melted sample:
    PetalLengthCm      Species       variable  value
0            1.4  Iris-setosa  SepalLengthCm    4.9
1            1.3  Iris-setosa  SepalLengthCm    4.7
2            1.5  Iris-setosa  SepalLengthCm    4.6
3            1.4  Iris-setosa  SepalLengthCm    5.0
4            1.7  Iris-setosa  SepalLengthCm    5.4

In [35]:
wide_df = melted_df.pivot_table(index=['Species'], 
                                columns='Measurement', 
                                values='Value',
                                aggfunc='mean').reset_index()

Measurement,Species,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm
0,Iris-setosa,1.465306,0.244898,5.004082,3.416327
1,Iris-versicolor,4.260000,1.326000,5.936000,2.770000
2,Iris-virginica,5.552000,2.026000,6.588000,2.974000